[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
pipeline = {editable = true, path = "./../pipeline"}
pandas = "*"
requests = "*"
tqdm = "*"
langchain-community = "*"
unstructured = {extras = ["docx"], version = "*"}
python-dotenv = "*"
pygithub = "*"
langdetect = "*"

[dev-packages]

[requires]
python_version = "3.10"
