[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
sentence-transformers = "*"
pymupdf = "*"
pyyaml = "*"
pipeline = {editable = true, path = "./../pipeline"}
pandas = "*"
requests = "*"
tqdm = "*"
python-dotenv = "*"
pygithub = "*"
langdetect = "*"
python-docx = "*"
python-pptx = "*"
openpyxl = "*"
unstructured = "*"
wrapt-timeout-decorator = "*"
chromadb = "*"
langchain-ollama = "*"
spacy = "*"
numpy = "*"
langchain-chroma = "*"
msoffcrypto-tool = "*"
markdown = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.12"
