[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
pipeline = {editable = true, path = "./../pipeline"}
pandas = "*"
deepdiff = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
